@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: center;
}

.page {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, #000d1384, #00000000);
}

.side-nav-container {
  position: fixed;
  right: 0;
  height: 100%;
  width: 25%;
  align-items: center;
  display: flex;
}

.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  width: 100%;
}

.side-nav li {
  font: 2rem "Orbitron", sans-serif;
  padding: 1.5rem 0 1.5rem 2rem;
  background-color: rgb(209, 209, 209);
  border-radius: 25rem 0 0 25rem;
  transform: translateX(15%);
  transition: 0.5s;
  cursor: pointer;
}

.side-nav li:hover {
  background-color: #ffffff;
  transform: translateX(0);
  transition: 0.5s;
}

.side-nav li {
  text-decoration: none;
  color: black;
}

.title {
  position: absolute;
  font: 7rem "Orbitron", sans-serif;
  color: white;
  margin-top: 2rem;
  margin-left: 3rem;
  text-shadow: black 0 0 0.8rem;
}

.page-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0.1rem);
  z-index: -1;
}

.tile-container {
  border: 5px solid green;
  position: relative;
  top: 55%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 32rem;
  display: flex;
}

.tile{
  width: 5rem;
  height: 100%;
  background-color: white;
  font: bold 1.5rem "Rajdhani", sans-serif;
  position: relative;
  overflow: hidden;
  border-radius: 3rem;
  cursor: pointer;
  transition: 0.5s;
}

.tile:hover {
  width: 15rem;
  transition: 0.5s;
}

.tile h1 {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  color: black;
  transition: 0.5s;
}
